<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blue_button_bg</key>
	<string>#28a7e1</string>
	<key>share_title_bg</key>
	<string>#eb9f23</string>
	<key>sg_red</key>
	<string>#e94f4f</string>
	<key>controller_gray_bg</key>
	<string>#e7e7ec</string>
	<key>normal_gray_bg</key>
	<string>#e6e6eb</string>
	<key>refresh_cell_bg</key>
	<string>#e6e6eb</string>
	<key>tab_select</key>
	<string>#ec9f25</string>
	<key>tab</key>
	<string>#ffffff</string>
	<key>navigation</key>
	<string>#ec9f25</string>
	<key>black</key>
	<string>#000000</string>
	<key>white</key>
	<string>#ffffff</string>
</dict>
</plist>
