<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sg_font_a</key>
	<dict>
		<key>size</key>
		<string>12</string>
		<key>color</key>
		<string>#191919</string>
	</dict>
	<key>sg_font_b</key>
	<dict>
		<key>size</key>
		<string>12</string>
		<key>color</key>
		<string>#eb9e25</string>
	</dict>
	<key>sg_font_c</key>
	<dict>
		<key>size</key>
		<string>12</string>
		<key>color</key>
		<string>#fefefe</string>
	</dict>
	<key>sg_font_d</key>
	<dict>
		<key>size</key>
		<string>13</string>
		<key>color</key>
		<string>#fefefe</string>
	</dict>
	<key>sg_font_e</key>
	<dict>
		<key>size</key>
		<string>15</string>
		<key>color</key>
		<string>#fefefe</string>
	</dict>
	<key>sg_font_f</key>
	<dict>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>#fefefe</string>
	</dict>
	<key>sg_font_g</key>
	<dict>
		<key>size</key>
		<string>12</string>
		<key>color</key>
		<string>#2da7e0</string>
	</dict>
	<key>sg_font_h</key>
	<dict>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>#2a3141</string>
	</dict>
	<key>sg_font_i</key>
	<dict>
		<key>size</key>
		<string>15</string>
		<key>color</key>
		<string>#2a3141</string>
	</dict>
	<key>sg_font_j</key>
	<dict>
		<key>size</key>
		<string>13</string>
		<key>color</key>
		<string>#2a3141</string>
	</dict>
	<key>sg_font_k</key>
	<dict>
		<key>size</key>
		<string>12</string>
		<key>color</key>
		<string>#2a3141</string>
	</dict>
	<key>sg_font_l</key>
	<dict>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>#888889</string>
	</dict>
	<key>sg_font_m</key>
	<dict>
		<key>size</key>
		<string>15</string>
		<key>color</key>
		<string>#888889</string>
	</dict>
	<key>sg_font_n</key>
	<dict>
		<key>size</key>
		<string>12</string>
		<key>color</key>
		<string>#888889</string>
	</dict>
	<key>sg_font_o</key>
	<dict>
		<key>size</key>
		<string>13</string>
		<key>color</key>
		<string>#19527e</string>
	</dict>
	<key>sg_font_p</key>
	<dict>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>#cd423e</string>
	</dict>
</dict>
</plist>
